spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    gateway:
      routes:
        - id: test_route
          uri: http://www.baidu.com
          predicates:
          - Query=url,baidu

        - id: qq_route
          uri: http://www.qq.com
          predicates:
          - Query=url,qq

  application:
    name: kkmall-gateway
server:
  port: 88
